n8n-real-estate-workflow.json
{
  "name": "Real Estate Lead Automation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "real-estate-lead",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "real-estate-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.guideType}}",
              "operation": "isNotEmpty"
            },
            {
              "value1": "={{$json.email}}",
              "operation": "isNotEmpty"
            },
            {
              "value1": "={{$json.name}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "validate-node",
      "name": "Validate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "first",
              "name": "firstName",
              "value": "={{$json.name.split(' ')[0]}}",
              "type": "string"
            },
            {
              "id": "last",
              "name": "lastName",
              "value": "={{$json.name.split(' ').slice(1).join(' ')}}",
              "type": "string"
            },
            {
              "id": "mail",
              "name": "email",
              "value": "={{$json.email}}",
              "type": "string"
            },
            {
              "id": "tel",
              "name": "phone",
              "value": "={{$json.phone}}",
              "type": "string"
            },
            {
              "id": "guide",
              "name": "guideType",
              "value": "={{$json.guideType}}",
              "type": "string"
            },
            {
              "id": "time",
              "name": "timestamp",
              "value": "={{$now.toISO()}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "format-node",
      "name": "Format",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [680, 200]
    },
    {
      "parameters": {
        "operation": "create",
        "listId": {
          "__rl": true,
          "value": "1763dbb742",
          "mode": "id"
        },
        "email": "={{$json.email}}",
        "status": "subscribed",
        "updateFields": {
          "mergeFieldsUi": {
            "mergeFieldValues": [
              {
                "name": "FNAME",
                "value": "={{$json.firstName}}"
              },
              {
                "name": "LNAME",
                "value": "={{$json.lastName}}"
              },
              {
                "name": "PHONE",
                "value": "={{$json.phone}}"
              }
            ]
          }
        },
        "options": {}
      },
      "id": "mailchimp-node",
      "name": "Mailchimp",
      "type": "n8n-nodes-base.mailchimp",
      "typeVersion": 2,
      "position": [900, 80],
      "credentials": {
        "mailchimpApi": {
          "id": "YOUR_MAILCHIMP_CREDENTIAL_ID",
          "name": "Mailchimp"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "harchi.isaak@gmail.com",
        "toEmail": "={{$json.email}}",
        "subject": "Welcome! Your {{$json.guideType.charAt(0).toUpperCase() + $json.guideType.slice(1)}} Guide is Ready",
        "emailType": "html",
        "message": "<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; margin: 0; padding: 0; }\n    .container { max-width: 600px; margin: 0 auto; padding: 0; }\n    .header { background: linear-gradient(135deg, #1e3a5f 0%, #0d1f3c 100%); color: white; padding: 40px 20px; text-align: center; }\n    .header h1 { margin: 0; font-size: 28px; }\n    .content { background: #ffffff; padding: 40px 30px; }\n    .content p { margin: 0 0 15px 0; font-size: 16px; }\n    .button { display: inline-block; padding: 15px 35px; background: #d4af37; color: white !important; text-decoration: none; border-radius: 5px; margin: 25px 0; font-weight: bold; font-size: 16px; }\n    .button:hover { background: #c19b2b; }\n    .footer { background: #f8f9fa; padding: 30px 20px; text-align: center; font-size: 13px; color: #666; }\n    h3 { color: #1e3a5f; margin: 25px 0 15px 0; font-size: 20px; }\n    ul { padding-left: 20px; }\n    ul li { margin: 10px 0; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h1>Welcome, {{$json.firstName}}!</h1>\n    </div>\n    <div class=\"content\">\n      <p>Hi {{$json.firstName}},</p>\n      \n      <p>Thank you for requesting the <strong>{{$json.guideType.charAt(0).toUpperCase() + $json.guideType.slice(1)}} Guide</strong>! I'm excited to help you on your real estate journey.</p>\n      \n      <p>I understand that real estate can feel overwhelming, but you're not alone. I'm here to guide you every step of the way.</p>\n      \n      <div style=\"text-align: center;\">\n        <a href=\"https://iharchi.github.io/{{$json.guideType}}_guide.pdf\" class=\"button\">📥 Download Your Guide</a>\n      </div>\n      \n      <h3>What's Next?</h3>\n      <ul>\n        <li>Review your guide at your own pace</li>\n        <li>Jot down any questions that come up</li>\n        <li>Reach out anytime - I'm here to help!</li>\n      </ul>\n      \n      <p><strong>Have questions or ready to get started?</strong></p>\n      <p>📞 Call/Text: <a href=\"tel:6128002025\" style=\"color: #1e3a5f;\">(612) 800-2025</a><br>\n      📧 Email: <a href=\"mailto:harchi.isaak@gmail.com\" style=\"color: #1e3a5f;\">harchi.isaak@gmail.com</a></p>\n      \n      <p style=\"margin-top: 20px;\">I typically respond within 2 hours, 7 days a week. Your peace of mind is my priority.</p>\n      \n      <p style=\"margin-top: 25px;\">Looking forward to helping you achieve your real estate goals!</p>\n      \n      <p style=\"margin-top: 30px;\">Warmly,<br>\n      <strong>Isaak Harchi</strong><br>\n      <span style=\"color: #666;\">Licensed Real Estate Agent</span></p>\n    </div>\n    <div class=\"footer\">\n      <p><strong>© 2025 Isaak Harchi Real Estate</strong></p>\n      <p>Minneapolis & St. Paul, Minnesota</p>\n      <p style=\"margin-top: 15px; font-size: 12px;\">Your information is secure and will never be shared.</p>\n    </div>\n  </div>\n</body>\n</html>",
        "options": {}
      },
      "id": "email-node",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [900, 300],
      "credentials": {
        "smtp": {
          "id": "YOUR_SMTP_CREDENTIAL_ID",
          "name": "Gmail SMTP"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{$json.timestamp}}",
            "First Name": "={{$json.firstName}}",
            "Last Name": "={{$json.lastName}}",
            "Email": "={{$json.email}}",
            "Phone": "={{$json.phone}}",
            "Guide Type": "={{$json.guideType}}",
            "Status": "New Lead"
          }
        },
        "options": {}
      },
      "id": "sheets-node",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [900, 520],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_CREDENTIAL_ID",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Thank you! Check your email for the guide.\", \"guideType\": $json.guideType } }}"
      },
      "id": "success-node",
      "name": "Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": false, \"error\": \"Invalid form data. Please try again.\" } }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "error-node",
      "name": "Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [680, 420]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate": {
      "main": [
        [
          {
            "node": "Format",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format": {
      "main": [
        [
          {
            "node": "Mailchimp",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mailchimp": {
      "main": [
        [
          {
            "node": "Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "pinData": {},
  "triggerCount": 0,
  "updatedAt": "2026-01-09T19:30:00.000Z",
  "versionId": "1"
}
