n8n-workflow.json
{
  "name": "Real Estate Lead Automation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "real-estate-lead",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "real-estate-lead"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.name}}",
              "operation": "isNotEmpty"
            },
            {
              "value1": "={{$json.email}}",
              "operation": "isNotEmpty"
            },
            {
              "value1": "={{$json.guideType}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "b2c3d4e5-f6a7-4b8c-9d0e-1f2a3b4c5d6e",
      "name": "Validate Input",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "firstName",
              "value": "={{$json.name.split(' ')[0]}}"
            },
            {
              "name": "lastName",
              "value": "={{$json.name.split(' ').slice(1).join(' ')}}"
            },
            {
              "name": "email",
              "value": "={{$json.email}}"
            },
            {
              "name": "phone",
              "value": "={{$json.phone}}"
            },
            {
              "name": "guideType",
              "value": "={{$json.guideType}}"
            },
            {
              "name": "timestamp",
              "value": "={{$now.toISO()}}"
            }
          ]
        },
        "options": {}
      },
      "id": "c3d4e5f6-a7b8-4c9d-0e1f-2a3b4c5d6e7f",
      "name": "Format Lead Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [680, 200]
    },
    {
      "parameters": {
        "resource": "listMember",
        "operation": "create",
        "list": "1763dbb742",
        "email": "={{$json.email}}",
        "status": "subscribed",
        "additionalFields": {
          "mergeFields": {
            "mergeFieldsValues": [
              {
                "name": "FNAME",
                "value": "={{$json.firstName}}"
              },
              {
                "name": "LNAME",
                "value": "={{$json.lastName}}"
              },
              {
                "name": "PHONE",
                "value": "={{$json.phone}}"
              }
            ]
          }
        }
      },
      "id": "d4e5f6a7-b8c9-4d0e-1f2a-3b4c5d6e7f8a",
      "name": "Add to Mailchimp",
      "type": "n8n-nodes-base.mailchimp",
      "typeVersion": 1,
      "position": [900, 100]
    },
    {
      "parameters": {
        "fromEmail": "harchi.isaak@gmail.com",
        "toEmail": "={{$json.email}}",
        "subject": "Welcome! Your Real Estate Guide",
        "text": "",
        "html": "<!DOCTYPE html><html><head><style>body{font-family:Arial,sans-serif;line-height:1.6;color:#333}.container{max-width:600px;margin:0 auto}.header{background:linear-gradient(135deg,#1e3a5f 0%,#0d1f3c 100%);color:white;padding:40px 20px;text-align:center}.content{padding:40px 30px;background:#fff}.button{display:inline-block;padding:15px 35px;background:#d4af37;color:white;text-decoration:none;border-radius:5px;margin:20px 0;font-weight:bold}.footer{background:#f8f9fa;padding:20px;text-align:center;font-size:12px;color:#666}</style></head><body><div class='container'><div class='header'><h1>Welcome!</h1></div><div class='content'><p>Hi {{$json.firstName}},</p><p>Thank you for requesting your real estate guide!</p><p>Your guide is ready to download:</p><div style='text-align:center;'><a href='https://iharchi.github.io/{{$json.guideType}}_guide.pdf' class='button'>Download Your Guide</a></div><p>If you have any questions, feel free to reach out:</p><p>📞 Call/Text: (612) 800-2025<br>📧 Email: harchi.isaak@gmail.com</p><p>Looking forward to helping you!</p><p>Warmly,<br><strong>Isaak Harchi</strong></p></div><div class='footer'><p>&copy; 2025 Isaak Harchi Real Estate</p></div></div></body></html>",
        "options": {}
      },
      "id": "e5f6a7b8-c9d0-4e1f-2a3b-4c5d6e7f8a9b",
      "name": "Send Welcome Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "sheetId": "YOUR_SHEET_ID",
        "range": "Sheet1",
        "options": {
          "valueInputMode": "USER_ENTERED"
        },
        "dataToInsert": "={{[[$json.timestamp, $json.firstName, $json.lastName, $json.email, $json.phone, $json.guideType, 'New Lead']]}}"
      },
      "id": "f6a7b8c9-d0e1-4f2a-3b4c-5d6e7f8a9b0c",
      "name": "Log to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [900, 500]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "a7b8c9d0-e1f2-4a3b-4c5d-6e7f8a9b0c1d",
      "name": "Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Error: Missing required fields",
        "options": {
          "responseCode": 400
        }
      },
      "id": "b8c9d0e1-f2a3-4b4c-5d6e-7f8a9b0c1d2e",
      "name": "Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 450]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Format Lead Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Lead Data": {
      "main": [
        [
          {
            "node": "Add to Mailchimp",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Welcome Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to Mailchimp": {
      "main": [
        [
          {
            "node": "Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Welcome Email": {
      "main": [
        [
          {
            "node": "Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to Google Sheets": {
      "main": [
        [
          {
            "node": "Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "tags": [],
  "pinData": {}
}
