n8n-real-estate-workflow.json
{
  "name": "Real Estate Lead Automation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "real-estate-lead",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "real-estate-lead"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.guideType }}",
              "operation": "isNotEmpty"
            },
            {
              "value1": "={{ $json.email }}",
              "operation": "isNotEmpty"
            },
            {
              "value1": "={{ $json.name }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "validate-node",
      "name": "Validate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "firstName",
              "name": "firstName",
              "value": "={{ $json.name.split(' ')[0] }}",
              "type": "string"
            },
            {
              "id": "lastName",
              "name": "lastName",
              "value": "={{ $json.name.split(' ').slice(1).join(' ') }}",
              "type": "string"
            },
            {
              "id": "email",
              "name": "email",
              "value": "={{ $json.email }}",
              "type": "string"
            },
            {
              "id": "phone",
              "name": "phone",
              "value": "={{ $json.phone }}",
              "type": "string"
            },
            {
              "id": "guideType",
              "name": "guideType",
              "value": "={{ $json.guideType }}",
              "type": "string"
            },
            {
              "id": "timestamp",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "format-node",
      "name": "Format Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [650, 200]
    },
    {
      "parameters": {
        "operation": "create",
        "listId": {
          "__rl": true,
          "value": "1763dbb742",
          "mode": "id"
        },
        "email": "={{ $json.email }}",
        "status": "subscribed",
        "updateFields": {
          "mergeFieldsUi": {
            "mergeFieldValues": [
              {
                "name": "FNAME",
                "value": "={{ $json.firstName }}"
              },
              {
                "name": "LNAME",
                "value": "={{ $json.lastName }}"
              },
              {
                "name": "PHONE",
                "value": "={{ $json.phone }}"
              }
            ]
          }
        }
      },
      "id": "mailchimp-node",
      "name": "Mailchimp",
      "type": "n8n-nodes-base.mailchimp",
      "typeVersion": 2,
      "position": [850, 100]
    },
    {
      "parameters": {
        "fromEmail": "harchi.isaak@gmail.com",
        "toEmail": "={{ $json.email }}",
        "subject": "Welcome! Your {{ $json.guideType.charAt(0).toUpperCase() + $json.guideType.slice(1) }} Guide",
        "emailType": "html",
        "message": "<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; margin: 0; padding: 0; }\n    .container { max-width: 600px; margin: 0 auto; }\n    .header { background: linear-gradient(135deg, #1e3a5f 0%, #0d1f3c 100%); color: white; padding: 40px 20px; text-align: center; }\n    .content { background: #ffffff; padding: 40px 30px; }\n    .button { display: inline-block; padding: 15px 35px; background: #d4af37; color: white !important; text-decoration: none; border-radius: 5px; margin: 25px 0; font-weight: bold; }\n    .footer { background: #f8f9fa; padding: 30px 20px; text-align: center; font-size: 13px; color: #666; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\"><h1>Welcome, {{ $json.firstName }}!</h1></div>\n    <div class=\"content\">\n      <p>Hi {{ $json.firstName }},</p>\n      <p>Thank you for requesting the <strong>{{ $json.guideType.charAt(0).toUpperCase() + $json.guideType.slice(1) }} Guide</strong>!</p>\n      <div style=\"text-align: center;\"><a href=\"https://iharchi.github.io/{{ $json.guideType }}_guide.pdf\" class=\"button\">📥 Download Your Guide</a></div>\n      <p>📞 Call/Text: (612) 800-2025<br>📧 Email: harchi.isaak@gmail.com</p>\n      <p>Looking forward to helping you!</p>\n      <p>Warmly,<br><strong>Isaak Harchi</strong></p>\n    </div>\n    <div class=\"footer\"><p>© 2025 Isaak Harchi Real Estate</p></div>\n  </div>\n</body>\n</html>"
      },
      "id": "email-node",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [850, 250]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $json.timestamp }}",
            "First Name": "={{ $json.firstName }}",
            "Last Name": "={{ $json.lastName }}",
            "Email": "={{ $json.email }}",
            "Phone": "={{ $json.phone }}",
            "Guide Type": "={{ $json.guideType }}",
            "Status": "New Lead"
          }
        },
        "options": {}
      },
      "id": "sheets-node",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [850, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Thank you! Check your email for the guide.\", \"guideType\": $json.guideType } }}",
        "options": {}
      },
      "id": "success-node",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1050, 250]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": false, \"error\": \"Missing required fields. Please fill out all fields.\" } }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "error-node",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [650, 450]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate": {
      "main": [
        [
          {
            "node": "Format Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Data": {
      "main": [
        [
          {
            "node": "Mailchimp",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mailchimp": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "pinData": {},
  "versionId": "1"
}
